<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="towns" value="lund_sweden_2693678" />
		<add key="townsOnBench" value="šabac_serbia_3191376|malmo_sweden_2692969|lund_sweden_2693678|utrecht_netherlands_2745912|breda_netherlands_2758401|bruges_belgium_2800931|paris_france_2988507" />
	</appSettings>
</configuration>